//config
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    // width: 1440px;
}

//header (navbar)
nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    max-width: 1280px;
    background-color: white;
    position: relative;
    img {
        display: flex;
        align-items: center;
        width: auto;
        padding: 1.25em 0;
    }
    ul {
        position: initial;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        height: auto;
        li {
            padding: 1em;
            width: auto;
            margin: 0 0 0 0.75em;
        }
    }
}

//jumbotron
.container-jumbotron {
    // height: 800px;
    background-color: $cl-darkViolet;
    border: 2px solid green;
    display: flex;
    color: white;
    .jumbotron-left {
        display: flex;
        flex-direction: column;
        margin: 100px 50px 0 30px;
        h2 {
            font-family: $f-dm;
            font-size: 3.7rem;
            font-weight: 400;
            line-height: 1em;
        }
    }
    .jumbotron-left-border {
        width: 100px;
        border: 1px solid white;
    }
    .jumbotron-right {
        margin: 150px 80px 0 0;
    }
}

// .vpl-hover {
//     border: 2px solid red;
//     padding: 10px 30px;
// }
//media screen 1280px
// @media screen and (max-width:);